body {
    background-color: lightslategray;
    margin: 0;
}
noscript {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: red;
    color: whitesmoke;
    font-size: 40px;
}

select{
    border:none;
    padding: 10px 20px;
    margin: 20px;
    border-radius:5px;
  }

.screen {
    background-color: whitesmoke;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -240px;
    margin-left: -320px;
}

.info {
    background-color: whitesmoke;
    position: relative;
    width: 15%;

    margin: -5px;
    padding: 5px;
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
}

input[id="DarkBlue"]:hover + svg,
input[id="DarkBlue"]:checked + svg,
input[id="DarkBlue"]:focus + svg {
  fill: DarkBlue;
}

input[id="DarkGray"]:hover + svg,
input[id="DarkGray"]:checked + svg,
input[id="DarkGray"]:focus + svg {
  fill: DarkGray;
}

input[id="Cyan"]:hover + svg,
input[id="Cyan"]:checked + svg,
input[id="Cyan"]:focus + svg {
  fill: Cyan;
}

input[id="LawnGreen"]:hover + svg,
input[id="LawnGreen"]:checked + svg,
input[id="LawnGreen"]:focus + svg {
  fill: LawnGreen;
}

input[id="Tomato"]:hover + svg,
input[id="Tomato"]:checked + svg,
input[id="Tomato"]:focus + svg {
  fill: Tomato;
}

input[id="Yellow"]:hover + svg,
input[id="Yellow"]:checked + svg,
input[id="Yellow"]:focus + svg {
  fill: Yellow;
}

.left-info {
    left: 5%;
}

.right-info {
    left : 80%;
}


.info + .info {
    margin-top: 40px;
}

.mode {

}

.indicator-value {
    border-radius: 5px;
    font-size: 14px;
    padding: 3px 10px;
    text-decoration: none;
    color: #fff;
    font-family: arial;
    top: -2px;
    position: relative;
}

.indicator & .indicator {
    margin: 100px;
}

.indicator {
    border-radius: 5px;
    font-size: 14px;
    padding: 3px 10px;
    text-decoration: none;
    font-family: arial;
    margin: 2px;
    top: -2px;
    position: relative;
    display: inline-block;
}

.indicators {
    
}

.title {
    color: whitesmoke;
    text-align: center;
}

.comment {
    position: fixed;
    bottom: 0;
    right: 2em;
}

.link {
    color: #ccff00
}

.outside-text {
    color: #FFFFFF;
    size: 5px;
}